.responsive_image {
	position:absolute; 
	top:0px; 
	left:0px; 
	height: 100%; 
	width: 100%;
}

.sidebar-container {
	position: fixed;
	width: 280px;
	height: 100%;
	background-color: black;
	-webkit-transform: translateX(-280px);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
    transition: all .3s;
}

.sidebar-item {
	font-weight: 700px;
	font-size: 16px;
	color: white;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 20px;
	padding-right: 20px;
}

.carousel-container {
	width: 960px;
	margin: auto;
	height: 500px;
	overflow: hidden;
	position: relative;
}

#carousel {
	width: 4800px;
	height: 100%;
	margin-left: 0px;
	-webkit-transition: all 0.3s;
}

.carousel-item {
	width: 960px;
	position: relative;
	height: 100%;
	float: left;
}


.section {
	width: 100%;
	height: 500px;
	position: relative;
}

#name-section {
	background-color: #2bde73;
}

#major-section {
	background-color: #8bb2af;
}

#fact-section {
	background-color: #fff;
}

#fact-text {
	color: black;
}

body, html {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	min-width: 960px;
	background-color: black;
	-webkit-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
	font-family: Lato;
}

a {
	text-decoration: none;
}

.clear {
	clear: both;
}

.img-scaled {
	width: 100%;
	height: 100%;
}

.img-scaled-wh {
	width: 100%;
	height: 100%;
	position: relative;
}

#modal-container {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
}
#modal-container2 {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
}


#modal-overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}
#modal-overlay2 {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

#modal-box {
    position: absolute;
    width: 500px;
    height: 260px;
    background: #5485BB;
    z-index: 100;
    top: calc(20%);
    bottom: calc(25%);
    left: calc(25%);
    right: calc(25%);
}
#modal-box2 {
    position: absolute;
    width: 500px;
    height: 260px;
    z-index: 100;
    top: calc(20%);
    bottom: calc(25%);
    left: calc(25%);
    right: calc(25%);
}

#nav-toggle { 
	position: absolute; 
	left: 50%; top: 50%; 
}

#nav-toggle {
	padding: 10px 30px 15px 0px; 
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
	height: 3px;
	width: 30px;
	background: #fff;
	position: absolute;
	display: block;
	content: '';
}

#nav-toggle span:before {
	top: -10px; 
}

#nav-toggle span:after {
	bottom: -10px;
}

#sidebar-button {
	position: fixed;
	z-index: 100;
	left: 15px;
	top: 15px;
	cursor: pointer;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
} 

.sidebar-container ul {
	margin: 0;
	padding: 0;
	list-style: none;
	margin-top: 10px;
}

.page-wrapper {
	height: 100%;
	width: 100%;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
}

#carousel-prev {
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 10px;
    left: 60px;
    top: 50%;
    margin-top: -30px;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid #fff;
    -webkit-transition: all 0.3s;
}

#carousel-next {
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 10px;
    right: 60px;
    top: 50%;
    margin-top: -30px;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid #fff;
    -webkit-transition: all 0.3s;
}

.quote, .text {
	position: absolute;
	font-size: 36px;
	color: white;
	font-weight: 700;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
   	transform: translateX(-50%) translateY(-50%);
}

.author {
	font-size: 12px;
	font-weight: 700;
	letter-spacing: .2rem;
	text-transform: uppercase;
	margin-top: 10px;
	text-align: center;
}

.no-scroll {
	overflow: hidden;
}

.wrapper-active, .button-active {
	-webkit-transform: translateX(280px);
	-moz-transform: translateX(280px);
	transform: translateX(280px);
}

.sidebar-active {
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	-o-transform: translateX(0px);
}

a {
color: inherit;
text-decoration: none;
}

.clear {
clear: both;
}

.img-scaled {
width: 100%;
}

.img-scaled-wh {
width: 100%;
height: 100%;
}

body {  
font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
margin: 0px;
background: #edeae5;
}

#background {
    background: url('background.jpg');
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    position: absolute;
}
#hero2 {
    position: absolute;
    color: white;
    top: 200px;
    left: 200px;
    text-align: center;
}
#hero {
    position: absolute;
    color: white;
    bottom: 90px;
    right: 90px;
    text-align: right;
}
#subheading {
    font-size: 24px;
}
#heading {
    font-size: 48px;
}
#link {
    background: #de6868;
    float: right;
    padding: 30px 50px;
    cursor: pointer;
    border-radius: 2px;
    margin-top: 10px;
}
#container {
    position: absolute;
    width: 100%;
    height: 518px;
    top: 50%;
    margin-top: -269px;
}
#content {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    overflow: hidden;
}
#carousel-prev {
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.5);
    top: 50%;
    margin-top: -30px;
    cursor: pointer;
    -webkit-transition: linear 0.2s;
}
#carousel-next {
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.5);
    top: 50%;
    right: 0px;
    margin-top: -30px;
    cursor: pointer;
    -webkit-transition: linear 0.2s;
}
#carousel-prev:hover {
    background: rgba(0, 0, 0, 0.9);
}
#carousel-next:hover {
    background: rgba(0, 0, 0, 0.9);
}

/* Question 1 */
#modal-container {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 100;
}

#modal-overlay {
    width: 100%;
    height: 110%;
    background: rgba(0, 0, 0, 0.5);
}

#modal-box {
    position: absolute;
    width: 500px;
    height: 260px;
    background: #5485BB;
    z-index: 100;
    top: calc(20%);
    bottom: calc(25%);
    left: calc(25%);
    right: calc(25%);
}

/* Question 3 */
.list-login {
    color: white;
    position: relative;
    top: 10px;
    left: 30px;
}

.username {
    width: 85%;
    height: 30px;
    position: relative;
}

.password {
    position: relative;
    top: 15px;
    width: 85%;
    height: 30px;
}

.list-submit {
    position: relative;
    width: 90px;
    height: 35px;
    background: white;
    color: #5485BB;
    font-weight: bold;
    text-align: center;
    right: -250px;
    bottom: -45px;
    font-size: 15px;
    cursor: pointer;
    /*display: inline-block;*/
}

.list-cancel {
    position: relative;
    width: 90px;
    height: 35px;
    background: white;
    color: #5485BB;
    font-weight: bold;
    text-align: center;
    right: -360px;
    bottom: 5px;
    font-size: 15px;
    cursor: pointer;
    /*display: inline-block;*/
}

.list-send {
    background: #F7D3F9;
    float: right;
    padding: 0px 30px;
    cursor: pointer;
    border-radius: 2px;
    margin-top: 10px;
    color: white;
    font-family: raleway;
}
.list-name {
    margin-bottom: 20px;
}

.list-email {
    margin-bottom: 20px;
}

.list-subject {
    margin-bottom: 20px;
}

.list-message {
    margin-bottom: 20px;
}

.username, .password {
    border: 4px solid white;
    padding: 10px;
    background: transparent;
    margin: 0px;
    width: 85%;
    height: 40px;
    font-size: 12px;
    font-weight: 700;
    color: white;
    font-color: white;
    display: inline-block;
}

.password::-webkit-input-placeholder  {
color: white;
}

.username::-webkit-input-placeholder  {
color: white;
}

.textfix {
    position: relative;
    top: 20%;
}
.textfix2 {
    position: relative;
    top: 20%;
}
